
- var pageTitle = page.title || ''
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- pageTitle += ' -- ' + config.title
- if (is_home()) pageTitle = config.title

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='description' content='蛤，你发现了sirius的博客')
    meta(name='theme-color' content='#030102')
    meta(name="renderer" content="webkit")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    title= pageTitle
    if theme.stylesheets !== undefined && theme.stylesheets.length > 0
      //- stylesheets list from config.yml
      each url in theme.stylesheets
        link(href=url, rel='stylesheet')
    if (is_post())
      if theme.postStylesheets !== undefined && theme.postStylesheets.length > 0
      each url in theme.postStylesheets
        link(href=url, rel='stylesheet')
    
    <link href="https://fonts.googleapis.cnpmjs.org/css?family=Lato:100,300,400|Martel:900,400" rel="stylesheet">
    link(rel="shortcut icon" href=theme.favicon)

  body
    .sidebar
      .logo-container
        include ../svgs/logo
      - var menuitemCount = 0;
      #menu-outer.menu-container
        each url, label in theme.menu
          - var bgClass = 'menu-item-bg' + ' ' + 'bg' + menuitemCount;
          - menuitemCount++;
          .menu-item
            div(class=bgClass)
            .mask
            a.menu-item-link(href=url)= label
    #js-mobile-topbar.mobile-topbar
      a#js-menu-btn.menu-btn(href="javascript:")
        include ../svgs/menu    
    #js-mobile-menu-container.mobile-menu-container
      #js-mobile-menu-wrapper.mobile-menu-wrapper
        .mask
        .bg
        nav.menu
          each url, label in theme.menu
            a.menu-item-link(href=url)= label
    #js-main.main
      #js-header.header
        audio#js-audio
        .row
          h1.title
            span.bold Sirius’s
            span.light= " blog"
          //- #js-music-container.music-container
        h2.subtitle 我练功发自真心
      #content-outer
        #content-inner.content-inner
          if body
            div!= body
          else
            block content
      .footer
        a.link-btn(href="https://github.com/B-sirius" target="_blank")
          .mask
          include ../svgs/github
          span.text Github
        a.link-btn(href="https://codepen.io/padfoot_07/" target="_blank")
          .mask
          include ../svgs/codepen
          span.text CodePen
        a.link-btn(href="https://www.douban.com/people/121516026/" target="_blank")
          .mask          
          include ../svgs/douban
          span.text 豆瓣
        a.link-btn(href="mailto:padfoot_07@163.com")
          .mask
          include ../svgs/email
          span.text Email
    //- scripts list from config.yml
    if theme.scripts !== undefined && theme.scripts.length > 0
      each url in theme.scripts
        script(src=url)
    //- 如果是post页
    if (is_post())
      if theme.postScripts !== undefined && theme.postScripts.length > 0
      each url in theme.postScripts
        script(src=url)
      script.
        new Valine({
          el: '#comment' ,
          notify: true, 
          verify: true, 
          appId: 'xAgNfqDbPu4HfcuSWlDQEh4u-gzGzoHsz',
          appKey: '7CVjLXNHODMvmGIKOEQuS4mW',
          placeholder: '哦，怼我吧',
          path: window.location.pathname, 
          avatar:'identicon' 
        })
