
- var pageTitle = page.title || config.subtitle || ''
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- pageTitle += ' [ ' + config.title + ' ]'

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='description' content='sirius的博客')
    meta(name='theme-color' content='#030102')
    title= pageTitle
    if theme.stylesheets !== undefined && theme.stylesheets.length > 0
      //- stylesheets list from config.yml
      each url in theme.stylesheets
        link(href=url, rel='stylesheet')
    link(href=config.root + 'img/favicon.png', rel="icon")

  body
    .sidebar
      .logo-container
        include ../svgs/logo
      - var menuitemCount = 0;
      #menu-outer.menu-container
        each url, label in theme.menu
          - var bgClass = 'menu-item-bg' + ' ' + 'bg' + menuitemCount;
          - menuitemCount++;
          .menu-item
            div(class=bgClass)
            .mask
            a.menu-item-link(href=url)= label
    #js-mobile-topbar.mobile-topbar
      a#js-menu-btn.menu-btn(href="javascript:")
        include ../svgs/menu    
    #js-mobile-menu-container.mobile-menu-container
      #js-mobile-menu-wrapper.mobile-menu-wrapper
        .mask
        .bg
        nav.menu
          each url, label in theme.menu
            a.menu-item-link(href=url)= label
    #js-main.main
      #js-header.header
        audio#js-audio
        .row
          h1.title Sirius's Blog
          a#js-music-btn.music-btn(href="javascript:")
            include ../svgs/music
        h2.subtitle 练功发自真心
      #content-outer
        #content-inner.content-inner
          if body
            div!= body
          else
            block content
    //- scripts list from config.yml
    if theme.scripts !== undefined && theme.scripts.length > 0
      each url in theme.scripts
        script(src=url)
    //- 如果是post页
    if (is_post())
      if theme.postScripts !== undefined && theme.postScripts.length > 0
      each url in theme.postScripts
        script(src=url)
