
- var pageTitle = page.title || config.subtitle || ''
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- pageTitle += ' [ ' + config.title + ' ]'

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    title= pageTitle
    if theme.stylesheets !== undefined && theme.stylesheets.length > 0
      //- stylesheets list from config.yml
      each url in theme.stylesheets
        link(href=url, rel='stylesheet')
    link(href=config.root + 'img/favicon.png', rel="icon")

  body
    .sidebar
      .logo-container
        <svg width="240" height="300" viewport="240 300" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
          <g class="path-set-1">
            <path class="logo-path" d="m66,80l-13,148l13,-148z" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" fill="none"/>
            <path class="logo-path" d="m129,155l62,64l-122,-1l14,-147l86,0l-70,98" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" fill="none"/>
          </g>
          <g class="path-set-2">
            <path class="logo-path" d="m66,80l-13,148l13,-148z" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" fill="none"/>
            <path class="logo-path" d="m129,155l62,64l-122,-1l14,-147l86,0l-70,98" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" fill="none"/>
          </g>
          <g class="path-set-3">
            <path class="logo-path" d="m66,80l-13,148l13,-148z" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" fill="none"/>
            <path class="logo-path" d="m129,155l62,64l-122,-1l14,-147l86,0l-70,98" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" fill="none"/>
          </g>
        </svg>
      - var menuitemCount = 0;
      #menu-outer.menu-container
        each url, label in theme.menu
          - var bgClass = 'menu-item-bg' + ' ' + 'bg' + menuitemCount;
          - menuitemCount++;
          .menu-item
            div(class=bgClass)
            .mask
            a.menu-item-link(href=url)= label
    .main
      .header
        h1.title Sirius's Blog
        h2.subtitle 练功发自真心
      #content-outer
        #content-inner.content-inner
          if body
            div!= body
          else
            block content
    //- #bottom-outer.footer
    if theme.scripts !== undefined && theme.scripts.length > 0
      //- scripts list from config.yml
      each url in theme.scripts
        script(src=url)
