
extends includes/layout.pug

block content
  - var categoriesList = list_categories({ show_count: false })
  - var tagsList = list_tags({ show_count: false })
  - var archivesList = list_archives({ show_count: false })

  if !is_year()
    div.archive

      if theme.atom
        p The feed is available via&nbsp;
          a(href=theme.atom) atom
          span .
        br

      aside
        h2.title Categories
        if categoriesList
          != categoriesList
        else
          p None.
      br

      aside
        h2.title Tags
        if tagsList
          != tagsList
        else
          p None.
      br

      aside
        h2.title Archives
        if archivesList
          != archivesList
        else
          p None.
      br

  else
    div.selected-container
      h1.selected-title= page.year + '/' + page.month
      .recent-posts
        each post in page.posts.sort('date', -1).limit(10).toArray()
          .recent-post-item
            div.info
              a.link(href=config.root + post.path)
                span.title= post.title
              if post.date
                time.time(datetime=post.date.toJSON())= date(post.date, date_format)
              if (post.tags && post.tags.data.length > 0)
                .tag-list
                    each tag in post.tags.data
                      a.tag(href=url_for(tag.path))= "#"+tag.name
            if (post.description) 
              .description= post.description

      div.pages-container!= paginator()

